*{
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

i {
    font-style: normal;
}

.misscall p{
    font-size: 22px;
    color: #373B66;
}

.opisanie p, .result p{
    font-size: 20px;
    color: #373B66;
    margin-left: 15px;
}

.html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	line-height: 1.4;
}

body {
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #7A87F9, #FFFFFF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 300px;
    height: 200px;
}

.sidebar{
    /*margin-top: 65px;*/
    position: fixed;
    left: -327px;
    width: 320px;
    height: 100%;
    background-color: #5C65BB;
    transition: all .5s ease;
    box-shadow: 7px 0px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sidebar1{
    width: 320px;
    height: 100%;
    background-color: #D3D8FF;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.sidebar ul{
    display: block;
    padding-inline-start: 20px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: white;
    /*padding-left: 40px;*/
    box-sizing: border-box;
    /*border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;*/
    transition: .4s;
    display: flex;
    align-items: center;
}

.sidebar ul li:hover a{
    /*padding-left: 50px;*/
    font-size: 22px;
}

.sidebar ul a i{
    margin-right: 16px;
    margin-left: 15px;
}

.i-icon{
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/Hamburger_icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.i-icon-cancel{
    width: 5px;
    height: 5px;
    background-image: url("../images/icons/close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#check{
    display: none;
}

label #btn, label #cancel, label #misscall{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn{
    left: 15px;
    top: 12px;
    font-size: 35px;
    color: red;
    padding: 12px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -180px;
    top: 12px;
    font-size: 30px;
    color: #7B83CE;
    padding: 12px 12px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar, .sidebar1{
    left: 0;
}

#check:checked ~ label #btn{
    left: 320px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 280px;
}

#check:checked ~ header{
    margin-left: 320px;
}

#check:checked ~ .leftcontent, #check:checked ~ .rightcontent{
    margin-left: 320px;
}

header{
    width: 100%;
    height: 66px;
    background-color: #7B83CE;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.leftheader{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.calls{
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.misscall{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.misscall p{
    color: black;
    font-weight: bold;
}

.waitcall{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waitcall p{
    color: orange;
    font-weight: bold;
}

.rightheader{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.search{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
}

hr{
    width: 100%;
    border-color: black;
}

.rightcontent hr{
    width: 250px;
    border-color: black;
    margin-inline-start: 0;
}

.opisanie hr, .result hr{
    width: 250px;
    background-color: black;
    color: black;
    margin-inline-start: 0;
    border: none;
    height: 1px;
    margin-left: 15px;
}

.logout{
    width: 90px;
    height: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.content{
    width: 100%;
    height: 100vh;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.name{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
}

.leftrightcontent
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftcontent{
    width: 50%;
    height: 100%;
}

.rightcontent{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.opisanie{
    width: 450px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.result{
    width: 450px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

form{
    width: 100%;
    height: 350px;
    flex-direction: column;
    font-family: 'Verdana', sans-serif;
}


#fio, #phone, #email{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    font-size: 22px;
    background-color: white;
    color: #9D9D9D;
    background-clip: padding-box;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

#description{
    width: 95%;
    height: 400px;
    border-radius: 10px;
    font-size: 22px;
    background-color: white;
    color: #9D9D9D;
    background-clip: padding-box;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

form a{
    text-align: center;
    padding: 16px;
    padding-left: 85px;
    padding-right: 85px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: all .09s ease-in-out;
    font-size: 18px;
    color: white;
    margin-top: 70px;
    background-image: linear-gradient(#3d6a9b, #99b1ca,  #fefeff);
    box-shadow: 0px 6px 10px 0px rgba(34, 60, 80, 0.35);
}

form a:hover{
    cursor: pointer;
    background-image: linear-gradient(#5f8bb9, #a7bdd4,  #ffffff);
}
form input{
    padding-left: 30px;
    color: #9D9D9D;
}
input[type="range"] {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 430px;
    border-radius: 20px;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right,#0239F9, #2CF3CF, #F9B404, #FF7A00, #FE0000);
    height: 15px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 35px;
}

form input::placeholder{
    color: #9D9D9D;
  left: 0px;
  top: 10px;
}

form input:focus{
    outline-width: 0;
}

#scales{
    transform: scale(1.5);
    margin-top: 15px;
    margin-left: 15px;
}

label{
    color: #373B66;
}

.footerbutton{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerbutton a{
    text-align: center;
    padding: 16px;
    padding-left: 85px;
    padding-right: 85px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: all .09s ease-in-out;
    font-size: 18px;
    color: white;
    background-color: #7B83CE;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
}