<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ГИС "Терра Башкирия"</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/mainpage.css">
  </head>
  <body>
    <header>
      <input type="checkbox" id="check">
        <label for="check">
          <i class="i-icon" id="btn"></i>
          <i class="i-icon-cancel" id="cancel"></i>
        </label>
      
      <div class="sidebar">
        <div class="logo">
          <img src="../static/images/logo1.png" width="220" height="130">
        </div>
          <ul>
              <li><a href="/map/"><img src="../static/images/icons/map.png" width="40" height="40" id="sidebarimg"><i class="vhodzvonok">Информационная карта</i></a></li>
              <li><a href="/admin/"><img src="../static/images/icons/admin.png" width="40" height="40" id="sidebarimg"><i class="ishzvonok">Администрирование</i></a></li>
          </ul>
          <div class="sidebar1">
            <ul>
              
            </ul>
          </div>
      </div>
      <div class="leftheader">
        <div class="calls">
          <div class="misscall">
            <p>ГИС "ТерраБашкирия"</p>
          </div>
        </div>
      </div>
      </header>
  </body>
</html>